@import "bootstrap-sprockets";
//@import "bootswatch/superhero/variables";
@import "bootstrap";

@import "helpers/*";
@import "layout/*";
@import "components/*";
@import "pages/*";


body{
	padding-top: 80px;
	padding-bottom: 200px;
	background: purple;
}


@import "bootswatch/superhero/bootswatch";
