---
page_class: page-home
---

<div class='container'>
  <div class='row'>
    <section id='content-primary'>
      <div class='news-container'>
        <div class='news-container__primary'>
          {{> news-item news-item.hero}}
          {{> news-item news-item.split}}
          {{> news-item news-item.split-inverse}}
          {{> news-item news-item.noimage}}
          {{> news-item news-item.split}}
          {{> news-item news-item.split-inverse}}
          {{> news-item news-item.split}}
          {{> news-item news-item.split-inverse}}
        </div>
        <div class='news-container__secondary'>
          {{> news-item news-item}}
          {{> news-item news-item}}
          {{> news-item news-item.noimage}}
          {{> news-item news-item}}
          {{> news-item news-item}}
          {{> news-item news-item.noimage}}

        </div>
      </div>
      <div class='banner banner--728x90'>
        Hirdetes
      </div>
    </section>
    <aside id='content-secondary'>
      {{> news-item news-item}}
      {{> news-item news-item.noimage}}
      {{> news-item news-item}}
    </aside>
  </div>
</div>
