---
page_class: page-home
---

<div class=''>
  <div class='row'>
    <section class='l_content-primary'>
    
      <div class='top-news'>
        <div class='top-news__primary'>
          {{> news-item news-item.hero}}
          {{> news-item news-item.split}}
          {{> news-item news-item.split-inverse}}
          {{> news-item news-item.noimage}}
          {{> news-item news-item.split}}
          {{> news-item news-item.split-inverse}}
          {{> news-item news-item.split}}
          {{> news-item news-item.split-inverse}}
        </div>
        <div class='top-news__secondary'>
          {{> news-item news-item}}
          {{> news-item news-item}}
          {{> news-item news-item.noimage}}
          {{> news-item news-item}}
          {{> news-item news-item}}
          {{> news-item news-item.noimage}}
        </div>
      </div>

      <div class="l_content-primary__bleed">
        <div class='banner banner--728x90'>
          <img src="img/samples/banner728x90.png">
        </div>
      </div>

      <div class='news-list'>
        <div class='news-list__col'>
          {{> news-item news-item.noimage}}
          {{> news-item news-item}}
          {{> news-item news-item}}
        </div>
        <div class='news-list__col'>
          {{> news-item news-item}}
          {{> news-item news-item.noimage}}
          {{> news-item news-item}}
        </div>
        <div class='news-list__col news-list__col--last'>
          {{> news-item news-item}}
          {{> news-item news-item}}
          {{> news-item news-item.noimage}}
        </div>
      </div>

      <div class="l_content-primary__bleed">
        <div class='banner banner--300x250'>
          <img src="img/samples/banner300x250.png">
        </div>
      </div>

      <div class="l_content-primary__bleed">
        <h2 class="category-title category-title__cult">
          Kultúra
        </h2>
      </div>



    </section>
    <aside class='l_content-secondary'>
      
      {{> sidebar}}

    </aside>
  </div>
</div>
