<div class='container'>
  <div class='row'>
    <section id='content-primary'>
    <h2>Event list:</h2>
    {{> widget-event-list}}

    <h2>News items:</h2>

    {{> news-item news-item.hero}}
    {{> news-item news-item.split}}
    {{> news-item news-item.split-inverse}}
    {{> news-item news-item.noimage}}
    {{> news-item news-item.split}}
    {{> news-item news-item.split-inverse}}
    </section>
    <aside id='content-secondary'>
      {{> news-item news-item}}
      {{> news-item news-item.noimage}}
      {{> news-item news-item}}
    </aside>
  </div>
</div>
