.list-group{
}

.list-group__item{


	// extend bootsrap .list-group
	.list-group-item;
	.clearfix;

	padding: 16px 0 15px;

	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid @gray-lighter;
	border-top: 0;
	font-size: 13px;
	margin: 0;


	article{
		width: 71%;
		float: right;
	}

	aside{
		width: 24%;
		float: left;
	}

	img{
		.img-responsive;
	}

	p{
		margin: 0;
	}
}

.list-group__item__meta{
	.type-variant--meta;
}

.list-group__item__title{
	margin: 0;
	font-size: 15px;
	line-height: 18px;
	margin: 2px 0;
}