@import "widget-mayor";
@import "widget-event-list";
@import "widget-magazine-download";
@import "widget-newsletter-subscribe";
@import "widget-thumb-links";
@import "widget-poll";


.widget{
	.l-content-secondary &{
		margin-right: -@grid-gutter-width;
		margin-left: -(@grid-gutter-width / 2);
	}
	.l-content-primary &{
		margin-right: -@grid-gutter-width;
		margin-left: -(@grid-gutter-width);
	}

	border-bottom: 1px solid @gray-lighter;
	padding-bottom: @grid-gutter-width;

	@media (min-width: @screen-md-min) {
		margin-right: -@grid-gutter-width / 2;
	}

	@media (min-width: @screen-lg-min) {
		margin-right: -@grid-gutter-width;
	}


	.btn{
		.button-variant(#fff, @gray, @gray);
		font-family: @font-family-slab;
		text-transform: uppercase;
		font-size: 13px;
		padding: 8px 15px;
		float: right;
		font-weight: bold;

		&:after{
			content: " ";
			display: block;
			float: right;
			margin-top: 2px;
			margin-left: 10px;
			.sprite-trend-arrow_down_small_blue;
		}

	}

}
.widget-content{

	.clearfix;

	.l-content-secondary &{
		margin-right: @grid-gutter-width;
		margin-left: (@grid-gutter-width / 2);
	}
	.l-content-primary &{
		margin-right: @grid-gutter-width;
		margin-left: (@grid-gutter-width);
	}

}
.widget-title{
	background: @brand-primary;
	color: #fff;
	padding:  10px (@grid-gutter-width / 2);
	line-height: 1em;
	margin-top: 0;
	margin-bottom: 1em;
	display: inline-block;
}