body{
	background: @brand-primary;
	font-weight:  200;
	padding-top: 100px;
}

main{
	background: #fff;
	.container;
	margin: 0px auto;
	@media (min-width: @screen-sm-min) {
	  width: @container-sm + (2 * @grid-gutter-width);
	  padding: 0 @grid-gutter-width/2;
	}
	@media (min-width: @screen-md-min) {
	  width: @container-md + (2 * @grid-gutter-width);
	  //padding: 0 (@grid-gutter-width / 2);
	}
	@media (min-width: @screen-lg-min) {
	  width: @container-lg + (@grid-gutter-width);
	  padding: 0 @grid-gutter-width/2;
	}
}


.l-content-primary{

	.make-sm-column(7);
	.make-md-column(8);
	.make-lg-column(9);
	// padding-left: @grid-gutter-width / 2;
	border-right: 1px solid @gray-lighter;
	padding-bottom: @grid-gutter-width;

	.l-container{
		margin-left: -@grid-gutter-width;
		margin-right: -@grid-gutter-width / 2;
		padding-left: @grid-gutter-width;
		padding-right: @grid-gutter-width / 2;

		&.is-bleed{
			padding-left: 0;
			padding-right: 0;

		}
	}

}


.l-content-secondary{

	.make-sm-column(5);
	.make-md-column(4);
	.make-lg-column(3);
	// padding-left: @grid-gutter-width / 2;
	padding-bottom: @grid-gutter-width;

}
