<!DOCTYPE html>
<html>
  <head>

    {{> head }}

  </head>
  <body class="{{ page_class }}">
    <main>
      <header id='header-primary'>

      {{> nav-main }}

      </header>

      <div class='container'>
        <div class='row'>

          {{> body }}

        </div>
      </div>



      <footer>
        {{> footer}}
      </footer>
    </main>

    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="http://localhost:11111/livereload.js"></script>

  </body>
</html>
