---
colors: 
- purple
- blue-light
- orange
- magenta

color: 2
---

{{ colors.[color] }}

<article class='news-item {{modifier}} news-item--color- '>
  
    <div class='news-item__image'>
      <img src="img/samples/news/image-18.png" width=''>
    </div>

    <div class="news-item__text">
      <aside class="news-item__meta">
        <span class='news-item__date'>2015/02/21</span>
        <span class='news-item__category'>Kultúra</span>
      </aside>    

      <header class="news-item__header">
        <h3 class='news-item__title'>Graviga nibh lorem qnm mmuis bibendum auctor </h3>
      </header>
      <p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
    </div>


</article>
