---
page_class: page-home
---

.container
  .row
    %section#content-primary
      %span #primary-content

      .row
        %section.article-list
          %span .article-list
        %aside.article-list
          %span .article-list
      
      

      .row
        %section.article-list
          %span .article-list
        %aside.article-list
          %span .article-list

      .row
        %section.article-list
          %span .article-list
        %aside.article-list
          %span .article-list

    %aside#content-secondary
      .row
        %span #secondary-content
      .row
        %section.article-list
          %span .article-list
      .row
        %section.article-list
          %span .article-list
        %section.article-list
          %span .article-list
        %section.article-list
          %span .article-list
        %section.article-list
          %span .article-list
        %section.article-list
          %span .article-list
        %section.article-list
          %span .article-list
