<div class="widget widget--poll">
	<h3 class="widget__title">Szavazás</h3>
	<div class="widget__content">
		<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>
		<form action="" method="POST" class="" role="form">
			<div class="radio">
				<label>
					<input type="radio" name="poll" id="" value="" checked="checked">
					Lorem Ipsum proin gravida 
				</label>
			</div>
			
			<div class="radio">
				<label>
					<input type="radio" name="poll" id="" value="" >
					nibh aliquet aenean  
				</label>
			</div>
			
			<div class="radio">
				<label>
					<input type="radio" name="poll" id="" value="" >
					sollicitudin lorem quis  
				</label>
			</div>
			
			<div class="radio">
				<label>
					<input type="radio" name="poll" id="" value="" >
					bibendum auctor nisi elit 
				</label>
			</div>
			
			<button type="submit" class="btn btn-default">Küldés</button>
		</form>

	</div>


</div>