<div class="widget widget-mayor">
	<h3 class="widget-title">Polgármesteri ajánló</h3>
	<div class="widget-content">
		<h4>Wintermantel Zsolt <br><small>Újpest polgármestere</small></h4>
		<ul>
			<li><a href="#">Életrajz</a></li>
			<li><a href="#">Újpest polgármestere</a></li>
			<li><a href="#">Interjú Wintermantel Zsolttal</a></li>
		</ul>
		<button class="btn">Még több</button>
	</div>
</div>