<div class="widget widget-newsletter-subscribe">
	<h3 class="widget-title">Hírlevél</h3>

	<div class="widget-content">
		<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat </p>

			
		<a href="#" class="btn btn-default">Feliratkozás</a>
	</div>


</div>