<div class="widget widget-thumb-links is-bw">
	<h3 class="widget-title">Kapcsolatok</h3>
	<div class="widget-content">
		<ul>
			<li>
				<a href="#">
					<img src="img/samples/img_square_lg_1_mono.png" alt="" class="mono">
					<img src="img/samples/img_square_lg_1.png" alt="" class="color">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/samples/img_square_lg_1_mono.png" alt="" class="mono">
					<img src="img/samples/img_square_lg_1.png" alt="" class="color">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/samples/img_square_lg_1_mono.png" alt="" class="mono">
					<img src="img/samples/img_square_lg_1.png" alt="" class="color">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/samples/img_square_lg_1_mono.png" alt="" class="mono">
					<img src="img/samples/img_square_lg_1.png" alt="" class="color">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/samples/img_square_lg_1_mono.png" alt="" class="mono">
					<img src="img/samples/img_square_lg_1.png" alt="" class="color">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/samples/img_square_lg_1_mono.png" alt="" class="mono">
					<img src="img/samples/img_square_lg_1.png" alt="" class="color">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/samples/img_square_lg_1_mono.png" alt="" class="mono">
					<img src="img/samples/img_square_lg_1.png" alt="" class="color">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="img/samples/img_square_lg_1_mono.png" alt="" class="mono">
					<img src="img/samples/img_square_lg_1.png" alt="" class="color">
				</a>
			</li>
		</ul>

	</div>


</div>