<div class="widget widget--event-list">
	<h3 class="widget__title">Programajánló</h3>
	<div class="widget__content">
		<ul>
			<li>
				<article>
					<div class="date">2015/02/21 – 2015/02/22</div>
					<h4>Lorem Ipsum proin </h4>
					<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean</p>
				</article>
				<aside>
					<img src="img/samples/img_blank_square_gray.png" alt="">
				</aside>
			</li>
			<li>
				<article>
					<div class="date">2015/02/21 – 2015/02/22</div>
					<h4>Lorem Ipsum proin </h4>
					<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean</p>
				</article>
				<aside>
					<img src="img/samples/img_blank_square_gray.png" alt="">
				</aside>
			</li>
			<li>
				<article>
					<div class="date">2015/02/21 – 2015/02/22</div>
					<h4>Lorem Ipsum proin </h4>
					<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean</p>
				</article>
				<aside>
					<img src="img/samples/img_blank_square_gray.png" alt="">
				</aside>
			</li>
			<li>
				<article>
					<div class="date">2015/02/21 – 2015/02/22</div>
					<h4>Lorem Ipsum proin </h4>
					<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean</p>
				</article>
				<aside>
					<img src="img/samples/img_blank_square_gray.png" alt="">
				</aside>
			</li>
		</ul>	


		<a href="#" class="btn btn-default">Összes program</a>

	</div>


</div>