<div class="widget widget-event-list">
	<h3 class="widget-title">Programajánló</h3>
	<div class="widget-content">

		<ul class="list-group">
			<li class="list-group-item">
				<a href="#">
					<article>
						<div class="list-group-item-meta">2015/02/21 – 2015/02/22</div>
						<h4 class="list-group-item-title">Lorem Ipsum proin </h4>
						<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean</p>
					</article>
					<aside>
						<img src="img/samples/img_blank_square_gray.png" alt="">
					</aside>
				</a>
			</li>
			<li class="list-group-item">
				<article>
					<div class="list-group-item-meta">2015/02/21 – 2015/02/22</div>
					<h4 class="list-group-item-title">Lorem Ipsum proin </h4>
					<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean</p>
				</article>
				<aside>
					<img src="img/samples/img_blank_square_gray.png" alt="">
				</aside>
			</li>
			<li class="list-group-item">
				<article>
					<div class="list-group-item-meta">2015/02/21 – 2015/02/22</div>
					<h4 class="list-group-item-title">Lorem Ipsum proin </h4>
					<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean</p>
				</article>
				<aside>
					<img src="img/samples/img_blank_square_gray.png" alt="">
				</aside>
			</li>
			<li class="list-group-item">
				<article>
					<div class="list-group-item-meta">2015/02/21 – 2015/02/22</div>
					<h4 class="list-group-item-title">Lorem Ipsum proin </h4>
					<p>Lorem Ipsum proin gravida nibh vel velit auctor aliquet aenean</p>
				</article>
				<aside>
					<img src="img/samples/img_blank_square_gray.png" alt="">
				</aside>
			</li>
		</ul>	


		<a href="#" class="btn btn-default">Összes program</a>

	</div>


</div>