<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button class='navbar-toggle collapsed' data-target='#top-nav-collapse' data-toggle='collapse' type='button'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='index.html'>
        Újpest
        <small>Ahol szeretünk élni</small>
      </a>
    </div>
    <div class='collapse navbar-collapse' id='top-nav-collapse'>
      <ul class='nav navbar-nav navbar-left'>
        <li>
          <a>Hírek</a>
        </li>
        <li>
          <a>Kultúra</a>
        </li>
        <li>
          <a>Újpest TV</a>
        </li>
        <li>
          <a>Apróhirdetés</a>
        </li>
        <li>
          <a>Önkormányzat</a>
        </li>
        <li>
          <a>Városunkról</a>
        </li>
      </ul>
      <div class='col-sm-3 col-md-3 pull-right'>
        <form class='navbar-form' role='search'>
          <div class='input-group'>
            <input class='form-control' id='srch-term' name='srch-term' placeholder='Search' type='text'>
            <div class='input-group-btn'>
              <button class='btn btn-default' type='submit'>
                <i class='glyphicon glyphicon-search'></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
