{{> widget-mayor}}
<div class="l_content-secondary__bleed">
  <div class='banner banner--300x250'>
    <img src="img/samples/banner300x250.png">
  </div>
</div>
{{> widget-poll}}
{{> widget-newsletter-subscribe}}
{{> widget-magazine-download}}
{{> widget-event-list}}
{{> widget-thumb-links}}
